@model Entity.Concrete.Category
@{
    Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Yeni Kategori Ekleme Sayfası</h3>
@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
<div class="form-group">
    @Html.Label("KATEGORİ ADI")
    @Html.TextBoxFor(x => x.CategoryName)
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("KATEGORİ AÇIKLAMASI")
    @Html.TextBoxFor(x => x.CategoryDescription)
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <button>Kaydet</button>
   

</div>
            }
